<script type="text/javascript" src="Scripts/jquery-ui-1.8.17.custom.min.js"></script>
<div style="border-width: 2px; border-style: dotted; padding: 1em;line-height: 1.5em;" id="fromHTMLtestdiv">
    <div>
        <header>
            <div>
                <img src="/content/images/logo.jpg" height="100" width="100" alt="Smiley face" align="left">
            </div>
            <div style="/* margin-left: 10px */text-align: center;">

                <h1>
                    CARLOS BASSINO
                </h1>
                <p>
                   Servicios de Logística y Distribución – Refrigerados, Congelados
                </p>
            </div>
        </header>
    </div>
    <nav></nav>
<div>
    <section style="margin-top: 100px">
        <h1>WWF</h1>
        <p>The World Wide Fund for Nature (WWF) is....</p>
    </section>
</div>
        <footer>
            <p style="
    font-size: 10px;
    text-align: center;
">C y H Bassino S.R.L. Luxemburgo 3587 esq San Marino - Córdoba Tel.: (0351) 4650316 / 4381215</p>
        </footer>


    </div>
<button onclick="javascript:demoFromHTML()" class="button">Run Code</button>