            <a href="~/Roles/Edit/#= Id #" data-target='\\#modal' data-toggle='modal' data-backdrop='static' data-keyboard='false' data-placement='top' title='Editar'><i class='fa fa-edit fa-2x'></i></a>
            <a href="~/Roles/Delete/#= Id #" data-target='\\#modal' data-backdrop='static' data-keyboard='false'  data-toggle='modal' data-placement='top' title='Borrar'><i class='fa fa-trash fa-2x'></i></a>
           <a href="\\#" onclick="LoadPartialId('@Url.Action("EditModules", "Roles")', 'mainDiv' , '#= Id #' ) " title='Agregar modulos'><i class='fa fa-unlock fa-2x'></i></a>       