@using BassinoLibrary.Resource

<a href="/Messaging/Reply/#= Id #" data-target="\\#modal" data-toggle="modal" data-placement="top" title="Responder"><i class="fa fa-reply-all fa-2x"></i></a>
<a href="/Messaging/Details/#= Id #" data-target="\\#modal" data-toggle="modal" data-placement="top" title="Leer"><i class="fa fa-eye fa-2x"></i></a>
