<div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            @RenderSection("Header")
        </div>

        @*@using (Ajax.BeginForm((string)ViewBag.Action, null, new AjaxOptions { HttpMethod = "POST",InsertionMode = InsertionMode.Replace, UpdateTargetId = "modal" },
            new { @role = "form", @id = "formId", @class = "form col-md-12 center-block" }))*@
        @using (Ajax.BeginForm((string)ViewBag.Action, null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "modal", OnBegin = "block();", OnComplete = "unBlock();" },
            new { @role = "form", @id = "formId" }))
        {
            <div class="modal-body">
                @RenderBody()
            </div>
        }
        <div class="modal-footer">
            @RenderSection("Footer", false)
        </div>
    </div>
</div>