@using BassinoLibrary.Resource
@if (ViewBag.editar)
{
    <a href="/Product/Edit/#= Id #" data-target="\\#modal" data-toggle="modal" data-placement="top" title="Recibir"><i class="fa fa-pencil fa-2x"></i></a>
}
@if (ViewBag.borrar)
{
    <a href="/Product/Delete/#= Id #" data-target="\\#modal" data-toggle="modal" data-placement="top" title="Recibir"><i class="fa fa-trash fa-2x"></i></a>
}
@if (ViewBag.imprimir)
{
    <a href="/Report/PrintProductById/#= Id #" target="_blank" data-placement="top" title="Imprimir"><i class="fa fa-print fa-2x"></i></a>
}
       