@using BassinoLibrary.Resource

<a href="/ShipmentTrack/ShipTrackView/#= Id #" data-target="\\#modal" data-toggle="modal" data-placement="top" title="Recibir"><i class="fa fa-eye fa-2x"></i></a>
<a href="/ShipmentTrack/Receive/#= Id #" data-target="\\#modal" data-toggle="modal" data-placement="top" title="Recibir"><i class="fa fa-truck fa-2x"></i></a>
<a href="/ShipmentTrack/Send/#= Id #" data-target="\\#modal" data-toggle="modal" data-placement="top" title="Enviar"><i class="fa fa-plane fa-2x"></i></a>
<a href="~/Shipment/FinishShip/#= Id #" data-target='\\#modal' data-toggle='modal' data-backdrop='static' data-keyboard='false' data-placement='top' title='Finalizar'><i class='fa fa-lock fa-2x'></i></a>
       